img
{
    max-width: 100%;
    border: 1px #e4e4e4 solid;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 6px #ccc;
}

BODY {
    counter-reset: counter-h1;
}
H1:before {
    content: counter(counter-h1) ". ";
    counter-increment: counter-h1;
}
H1 {
    counter-reset: counter-h2;
}

H2:before {
    content: counter(counter-h1) "." counter(counter-h2) " ";
    counter-increment: counter-h2;
}

H2 {
    counter-reset: counter-h3;
}

H3:before {
    content: counter(counter-h1) "." counter(counter-h2) "." counter(counter-h3) " ";
    counter-increment: counter-h3;
}

H3 {
    counter-reset: counter-h4;
}

H4:before {
    content: counter(counter-h1) "." counter(counter-h2) "." counter(counter-h3) "." counter(counter-h4) " ";
    counter-increment: counter-h4;
}


h1 {
    color: #00632F;
    page-break-before: always;
}

h2 {
    border-bottom: 1px solid #CCCCCC;
}

h3 {
    background-color: inherit;
}

h4 {
    background-color: inherit;
}

h6 {
    background-color: inherit;
}

hr {
    height: 0.2em;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC;
}

@page
{
    size: auto;   /* auto is the initial value */
    /* this affects the margin in the printer settings */
    margin: 5mm 5mm 5mm 5mm;
}
